html
{
    height:100%;
}

body {
    font-family: 'Nunito', sans-serif;
    height:100%;
}

.col.background {
    padding: 0;
}

p span { 
   position: absolute; 
   top: 20%;
   bottom: 0;
   left: 20%;
   right: 30%;
   color: #fffaf4;
   font-family: 'Montserrat';
   font-weight: 800;
   font-style: italic;
   font-size: 48px; 
}

p span p {
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
   
}

.navbar-transparent {
   background-color: transparent;
}

img.background {
    filter: brightness(0.8);

}
.profile-photo img {
    height: 200px;
    width: 200px;
}

.goals-img {
    width: 50%;
}
.card-title {
    font-size: 2em;
    text-align: center;
}