html
{
    height:100%;
}

body {
    font-family: soleil,sans-serif;
    font-weight: 300;
    font-style: normal;
    line-height: 1.45;
    height:100%;
}

.col.background {
    padding: 0;
}

.page  {
    padding: 50px;
}


.section {
    padding: 25px;
}

.subsection {
    padding: 10px;
}

.no-top-padding {
    padding-top:0px;
}

.no-bottom-padding {
    padding-bottom: 0px;
}

.chart-body {
    padding: 10px;
}

.header {
    font-weight: 600;
    font-size: 42px; 
    letter-spacing: 0.1em;
    line-height: 1.75;

}

.subheader-lg {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.1em;
    line-height: 1.75;

}

.subheader {
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1.75;

}

.text-light {
    color: #FFFAF4;
}

.navbar-col {
    border-bottom: 4px double #dfdcdb;
}


.user-profile-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goals-img {
    width: 50%;
}
.card-title {
    font-size: 2em;
    text-align: center;
}

.adjacent-buttons {
    display: flex;
    justify-content: space-evenly;
}

.center-text-align {
    text-align: center;
}

.left-text-align {
    text-align: left;
}

.product-photo-column {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.journal-date-field {
    display: flex;
    align-items: stretch;
}

.label {
    color: gray;
    padding-bottom: 0.25em;
    letter-spacing: 0.2em;
}

.btn-flat {
    border-color: #d7c0b6;
}

.btn-flat.active {
    border-color: #d7c0b6;
    background-color: #d7c0b6;

}

.btn-flat:hover {
    border-color: #d7c0b6;
    background-color: #d7c0b6;

}

.btn-flat-important {
    border-color: #d7c0b6;
    background-color: #d7c0b6;
}

.btn-flat-dark {
    border-color: #95807A;
    color: #95807A;
}

.btn-flat-light {
    border-color: #f5f1f0;
    color: #f5f1f0;
}

.btn-flat-light:hover {
    background-color: #f5f1f0;
    color: black;
}

.important {
    background-color: #95807A;
    color: #f5f1f0;
}

.tickmarks {
    display: flex;
    justify-content: space-between;
}

.custom-range:focus {
    outline: 0;
}
.custom-range::-webkit-slider-thumb {
  background: #d7c0b6;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.25);
}

.routine.body {
    background-image: url('/static/img/background-2.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.formbox.body {
    background-color: #f5f1f0;
    border-radius: 1em;
    box-shadow: 0px 0px 8px -4px gray;
}

.justify-center {
    justify-content: center;
}

.extra-margin {
    margin: 50px;
}

.extra-margin-small {
    margin: 0.5rem 0.5rem 0.5rem 0rem ;
}

.signup {
    display: flex;
    align-items: center;
}

.extra-margin-vertical {
    margin: 10px 0px;
}

.toggle-group {
    display: flex;
    flex-flow: wrap;
}

.square-corner {
    border-radius: 0px;
}

.jumbotron {
    padding: 15rem;
    background-image: url('/static/img/skin-large-dark.png');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}