<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      Glow App
    </title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;0,900;1,400;1,600;1,800;1,900&display=swap" rel="stylesheet">

    <!-- React Bootstrap CSS -->
    <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" 
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" 
      crossorigin="anonymous"></link>

    <!-- React Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    
    <!-- React Bootstrap JS -->
    <script
      src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js"
      crossorigin></script>

    <!--react router Dom-->
    <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
    
    <!-- react-select tags -->
    <script src="https://cdn.jsdelivr.net/npm/emotion@9.2.12/dist/emotion.umd.min.js"></script>
    <script src="https://unpkg.com/prop-types@15.5.10/prop-types.min.js"></script>
    <script src="https://unpkg.com/react-input-autosize@2.2.1/dist/react-input-autosize.min.js"></script>
    <script src="https://unpkg.com/react-select@2.1.2/dist/react-select.min.js"></script>
    
    <!-- Chart.js tags -->
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" 
      integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" 
      crossorigin="anonymous">
    </script>
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/react-chartjs-2/2.11.1/react-chartjs-2.min.js" 
      integrity="sha512-RSWsytqv8aiFtbfn34CxcjKgZKkt8j2PCbXUPP2c5tkt7qXK5c4fW8L9QbhkUZpVeKbxOqPNMHUYBP8w+7ZUSA==" 
      crossorigin="anonymous">
    </script>

    <!-- cloudinary cdns -->
    
    <script 
      src="https://cdn.jsdelivr.net/npm/cloudinary-react@1.6.8/dist/cloudinary-react.js" 
      integrity="sha256-KWvOScmFdkgRHYUuZ0iCBwKV1+Gp9wxl2LQP7uM8DQM=" 
      crossorigin="anonymous">
    </script>
    
    <!-- d3 libraries -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <link 
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css"
      integrity="sha512-C7hOmCgGzihKXzyPU/z4nv97W0d9bv4ALuuEbSf6hm93myico9qa0hv4dODThvCsqQUmKmLcJmlpRmCaApr83g=="
      crossorigin="anonymous" />
    <link href="/static/css/style.css" rel="stylesheet" />
    <script src="/static/js/var.js"></script>
   
  </head>
  <body>
    <div id="root"></div>

    <!-- jQuery and Bootstrap JS -->
    <script 
      src="https://code.jquery.com/jquery-3.5.1.js" 
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
      crossorigin="anonymous">
    </script>

    <script src="/static/js/navbar.jsx" type="text/jsx"></script>
    <script src="/static/js/landingPage.jsx" type="text/jsx"></script>

    <script src="/static/js/productDetails.jsx" type="text/jsx"></script>
    <script src="/static/js/productSearch.jsx" type="text/jsx"></script>
    <script src="/static/js/searchResults.jsx" type="text/jsx"></script>
    <script src="/static/js/editProfile.jsx" type="text/jsx"></script>
    <script src="/static/js/login.jsx" type="text/jsx"></script>
    <script src="/static/js/loginbtn.jsx" type="text/jsx"></script>
    <script src="/static/js/logoutbtn.jsx" type="text/jsx"></script>
    <script src="/static/js/register.jsx" type="text/jsx"></script>
    <script src="/static/js/routine.jsx" type="text/jsx"></script>
    <script src="/static/js/highlights.jsx" type="text/jsx"></script>
    <script src="/static/js/ratingsChart.jsx" type="text/jsx"></script>
    <script src="/static/js/routineRatioChart.jsx" type="text/jsx"></script>
    <script src="/static/js/ingredientChart.jsx" type="text/jsx"></script>
    <script src="/static/js/profile.jsx" type="text/jsx"></script>
    <script src="/static/js/dashboard.jsx" type="text/jsx"></script>
    <script src="/static/js/app.jsx" type="text/jsx"></script>
    <script src="/static/js/index.jsx" type="text/jsx"></script>
    
    
  </body>
</html>
